.bio_panel
{
    color: white;
    //FFABE1
    text-align: center;
    justify-content: center;
    font-family: 'Inter Tight', sans-serif;

    .p_name
    {
        text-transform: uppercase;
        font-size: 1.7em;
        margin-bottom: 0.4em;
        text-decoration: underline;
    }

    .p_role
    {
        font-size: 1em;
        margin-bottom: 0.5em;
        font-style: italic;
    }

    .p_nickname
    {
        font-size: 0.8em;
    }

    .avatar
    {
        margin: 1em;
    }

    .avatar img
    {
        border-radius: 5%;
        box-shadow: 0px 10px 13px -7px #000000, 1px 8px 10px 5px rgba(0,0,0,0.22);
    }

}